<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBLibraryName" value="C:\Users\pmarc\Documents\Studia\_Semestr VII\_Wizualne\projekt\MusicViewer\music-viewer\MusicViewer.MAUI\MusicViewer.DAOMock.dll"/>
    <add key="DBLibraryNameOld" value="MusicViewer.DAOSQL.dll"/>
  </appSettings>
</configuration>