<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBLibraryNameAAAAAAAAAAAAAAAAA" value="C:\Users\pmarc\Documents\Studia\_Semestr VII\_Wizualne\projekt\MusicViewer\music-viewer\MusicViewer.DAOSQL\bin\Debug\net7.0\MusicViewer.DAOSQL.dll"/>
    <add key="DBLibraryName" value="C:\Users\pmarc\Documents\Studia\_Semestr VII\_Wizualne\projekt\MusicViewer\music-viewer\MusicViewer.DAOMock\bin\Debug\net7.0\MusicViewer.DAOMock.dll"/>
  </appSettings>
</configuration>