@using INF148187148204.MusicViewer.Web.Views.Components
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<component type="typeof(TrackOfTheDay)"
           render-mode="ServerPrerendered" />
